<div class="header d-flex align-items-center">
    <a routerLink="/home" class="main-logo">
        <i class="fas fa-apple-alt"></i> VEGEFOODS
    </a>
    <form #searchBox="ngForm">
        <div class="header-search input-group ms-5">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username">
            <button class="input-group-text" ><i class="fas fa-search"></i></button>
          </div>
    </form>
    <div class="head-right-item">
        <div class="cart" routerLink="cart">
            <span class="cart-image"><i class="fas fa-shopping-cart fa-lg"></i></span>
        </div>
    </div>
</div>

