<!-- <div class="product-card p-1 d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-center">
        <a routerLink="product-details">
            <img [src]="product.image" class="product-thumbnail">
        </a>
    </div>
    <div class="card-content">
        <h4 class="text-truncate">{{product.title}}</h4>
        <p class="text-secondary text-truncate">{{product.type}}</p>
        <button class="btn btn-primary w-100">Add to cart</button>
    </div>
</div> -->

<div class="col">
    <div class="card">
        <img [src]="product.image" class="card-img-top" >
        <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">{{product.type}}</p>
            <button class="btn btn-dark">Add to cart</button>
        </div>
    </div>
</div>
